<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css"></script>
</head>
<body>
    <h1> Welcome </h1>
    <img src="{{url_for('static', filename='images/logo.jpg')}}" alt="" width="300"/>
    <form method="POST" action="/upload_proses" enctype="multipart/form-data">
        <input type="file" name="upload_files" />
        <input type="submit" value="Simpan" />
    </form>


</body>
</html>